<mat-tab-group>
  <mat-tab label="Relatorio de Dizimistas">

    <mat-form-field>
      <input matInput [(ngModel)]="data1" name="data1" [matDatepicker]="picker1" placeholder="Selecione uma Data">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="data2" name="data2" [matDatepicker]="picker2" placeholder="Selecione uma Data">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <button (click)="submit(data1 ,data2)">teste</button>
{{data}}

  </mat-tab>
  <mat-tab label="Relatório Finançeiro">Content 2</mat-tab>
</mat-tab-group>