.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    width: 1080px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .example-header{
    padding: 20px
  }

  .input{
    width: 300px
  }
  