<mat-tab-group>
  <mat-tab label="Lista de Membros" *ngIf="globals.informacoesUsuarioLogado.permissao == 'TESOUREIRO' || globals.informacoesUsuarioLogado.permissao == 'DIRIGENTE' || globals.informacoesUsuarioLogado.permissao == 'SECRETARIO' || globals.informacoesUsuarioLogado.permissao == 'TESOUREIRO_SEDE'">

    <div *ngFor="let item of globals.mensagens">
      <div class="mdl-components__success" *ngIf="item.type == 'success'">
        <div style="float: left">
          <i class="material-icons"> done </i>
        </div>
        <div style="margin-top: 3px; margin-left: 30px">
          <b>{{item.text}}</b>
        </div>
      </div>
    </div>


    <div *ngFor="let item of globals.mensagens">
      <div class="mdl-components__warning" *ngIf="item.type == 'warning'">
        <div style="float: left">
          <i class="material-icons"> warning </i>
        </div>
        <div style="margin-top: 3px; margin-left: 30px">
          <b>{{item.text}}</b>
        </div>
      </div>
    </div>


    <div *ngFor="let item of globals.mensagens">
      <div class="mdl-components__danger" *ngIf="item.type == 'error'">
        <div style="float: left">
          <i class="material-icons"> error </i>
        </div>
        <div style="margin-top: 3px; margin-left: 30px">
          <b>{{item.text}}</b>
        </div>
      </div>
    </div>


    <div class="example-container mat-elevation-z8">

      <div class="example-header">
        <mat-form-field class="input">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="Foto">
          <mat-header-cell *matHeaderCellDef> Foto </mat-header-cell>
          <mat-cell *matCellDef="let item, let i = index">
            <img src="{{item.foto}}" width="50" height="50"> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Rol">
          <mat-header-cell *matHeaderCellDef> N° de Rol </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.rol}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Nome">
          <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.nome}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Cargo">
          <mat-header-cell *matHeaderCellDef> Cargo </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.cargo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Congregação">
          <mat-header-cell *matHeaderCellDef> Congregação </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.congregacao}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Telefone">
          <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.telefone}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Acao">
          <mat-header-cell *matHeaderCellDef> Ação </mat-header-cell>
          <mat-cell *matCellDef="let item">

            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editarMembro(item.id)" *ngIf="globals.informacoesUsuarioLogado.permissao == 'SECRETARIO' || globals.informacoesUsuarioLogado.permissao == 'DIRIGENTE'">
                <mat-icon>create</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="excluirMembro(item)" *ngIf="globals.informacoesUsuarioLogado.permissao == 'SECRETARIO_SEDE'">
                <mat-icon>delete</mat-icon>
                <span>Excluir</span>
              </button>
              <button mat-menu-item>
                <mat-icon>portrait</mat-icon>
                <span>Visualizar</span>
              </button>
            </mat-menu>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50, 100]" [showFirstLastButtons]="true">
      </mat-paginator>
    </div>

  </mat-tab>
  <mat-tab label="Lista de Membros" *ngIf="globals.informacoesUsuarioLogado.permissao == 'SECRETARIO_SEDE' || globals.informacoesUsuarioLogado.permissao == 'ADM' || globals.informacoesUsuarioLogado.permissao == 'MASTER'">

    <mat-form-field>
      <mat-select [(ngModel)]="congregacaoSelecionada" name="congregacao" placeholder="Congregação">
        <mat-option *ngFor="let item of congregacoes" value="{{item.congregacao}}">
          {{item.congregacao}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored botao" (click)="teste(congregacaoSelecionada)">
      Buscar
    </button>

    <div *ngFor="let item of globals.mensagens">
        <div class="mdl-components__success" *ngIf="item.type == 'success'">
          <div style="float: left">
            <i class="material-icons"> done </i>
          </div>
          <div style="margin-top: 3px; margin-left: 30px">
            <b>{{item.text}}</b>
          </div>
        </div>
      </div>
  
  
      <div *ngFor="let item of globals.mensagens">
        <div class="mdl-components__warning" *ngIf="item.type == 'warning'">
          <div style="float: left">
            <i class="material-icons"> warning </i>
          </div>
          <div style="margin-top: 3px; margin-left: 30px">
            <b>{{item.text}}</b>
          </div>
        </div>
      </div>
  
  
      <div *ngFor="let item of globals.mensagens">
        <div class="mdl-components__danger" *ngIf="item.type == 'error'">
          <div style="float: left">
            <i class="material-icons"> error </i>
          </div>
          <div style="margin-top: 3px; margin-left: 30px">
            <b>{{item.text}}</b>
          </div>
        </div>
      </div>

    <div class="example-container mat-elevation-z8">

      <div class="example-header">
        <mat-form-field class="input">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="Foto">
          <mat-header-cell *matHeaderCellDef> Foto </mat-header-cell>
          <mat-cell *matCellDef="let item, let i = index">
            <img src="{{item.foto}}" width="50" height="50"> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Rol">
          <mat-header-cell *matHeaderCellDef> N° de Rol </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.rol}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Nome">
          <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.nome}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Cargo">
          <mat-header-cell *matHeaderCellDef> Cargo </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.cargo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Congregação">
          <mat-header-cell *matHeaderCellDef> Congregação </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.congregacao}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Telefone">
          <mat-header-cell *matHeaderCellDef> Situação </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.situacao}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Acao">
          <mat-header-cell *matHeaderCellDef> Ação </mat-header-cell>
          <mat-cell *matCellDef="let item">

            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editarMembro(item.id)" *ngIf="globals.informacoesUsuarioLogado.permissao == 'SECRETARIO_SEDE' || globals.informacoesUsuarioLogado.permissao == 'ADM' || globals.informacoesUsuarioLogado.permissao == 'MASTER'">
                <mat-icon>create</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="excluirMembro(item)" *ngIf="globals.informacoesUsuarioLogado.permissao == 'SECRETARIO_SEDE' || globals.informacoesUsuarioLogado.permissao == 'ADM' || globals.informacoesUsuarioLogado.permissao == 'MASTER'">
                <mat-icon>delete</mat-icon>
                <span>Excluir</span>
              </button>
              <button mat-menu-item (click)="contextualizarMembro(item.id)">
                <mat-icon>portrait</mat-icon>
                <span>Visualizar</span>
              </button>
            </mat-menu>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>

  </mat-tab>

</mat-tab-group>