<form (submit)="salvar($event)">
  Nome:
  <input type="text" [(ngModel)]="membro.nome" name="nome" id="nome">
  pai:
  <input type="text" [(ngModel)]="membro.pai" name="pai" id="pai">
  mae:
  <input type="text" [(ngModel)]="membro.mae" name="mae" id="mae">
  sexo:
  <input type="text" [(ngModel)]="membro.sexo" name="sexo" id="sexo">
  data de nascimento:
  <input type="text" [(ngModel)]="membro.data_de_nascimento" name="data_de_nascimento" id="data_de_nascimento">
  profissao:
  <input type="text" [(ngModel)]="membro.profissao" name="profissao" id="profissao">
  telefone:
  <input type="text" [(ngModel)]="membro.telefone" name="telefone" id="telefone">
  rg:
  <input type="text" [(ngModel)]="membro.rg" name="rg" id="rg">
  cpf:
  <input type="text" [(ngModel)]="membro.cpf" name="cpf" id="cpf">
  pais:
  <input type="text" [(ngModel)]="membro.pais" name="pais" id="pais">
  naturalidade:
  <input type="text" [(ngModel)]="membro.naturalidade" name="naturalidade" id="naturalidade">
  estado_civil:
  <input type="text" [(ngModel)]="membro.estado_civil" name="estado_civil" id="estado_civil">
  endereco:
  <input type="text" [(ngModel)]="membro.endereco" name="endereco" id="endereco">
  bairro:
  <input type="text" [(ngModel)]="membro.bairro" name="bairro" id="bairro">
  cidade:
  <input type="text" [(ngModel)]="membro.cidade" name="cidade" id="cidade">
  cep:
  <input type="text" [(ngModel)]="membro.cep" name="cep" id="cep">
  batismo_nas_aguas:
  <input type="text" [(ngModel)]="membro.batismo_nas_aguas" name="batismo_nas_aguas" id="batismo_nas_aguas">
  batismo_no_espirito_santo:
  <input type="text" [(ngModel)]="membro.batismo_no_espirito_santo" name="batismo_no_espirito_santo" id="batismo_no_espirito_santo">
  data_de_inicio:
  <input type="text" [(ngModel)]="membro.data_de_inicio" name="data_de_inicio" id="data_de_inicio">
  dirigente:
  <input type="text" [(ngModel)]="membro.dirigente" name="dirigente" id="dirigente">
  cargo:
  <input type="text" [(ngModel)]="membro.cargo" name="cargo" id="cargo">
  congregacao:
  <input type="text" [(ngModel)]="membro.congregacao" name="congregacao" id="congregacao">
  observacao:
  <input type="text" [(ngModel)]="membro.observacao" name="observacao" id="observacao">
  <button type="submit">Salvar</button>
</form>

