<div *ngFor="let item of globals.mensagens">
  <div class="mdl-components__success" *ngIf="item.type == 'success'">
    <div style="float: left">
      <i class="material-icons"> done </i>
    </div>
    <div style="margin-top: 3px; margin-left: 30px">
      <b>{{item.text}}</b>
    </div>
  </div>
</div>


<div *ngFor="let item of globals.mensagens">
  <div class="mdl-components__warning" *ngIf="item.type == 'warning'">
    <div style="float: left">
      <i class="material-icons"> warning </i>
    </div>
    <div style="margin-top: 3px; margin-left: 30px">
      <b>{{item.text}}</b>
    </div>
  </div>
</div>


<div *ngFor="let item of globals.mensagens">
  <div class="mdl-components__danger" *ngIf="item.type == 'error'">
    <div style="float: left">
      <i class="material-icons"> error </i>
    </div>
    <div style="margin-top: 3px; margin-left: 30px">
      <b>{{item.text}}</b>
    </div>
  </div>
</div>